<form (ngSubmit)="addNewHearing()">
    <div class="form-group">
        <label>Date</label>
        <input type="text" class="form-control" placeholder="Date" name="Date" [(ngModel)]="newHearing.date">
    </div>
    <div class="form-group">
        <label>Decision</label>
        <input type="text" class="form-control" placeholder="Decision" name="Decision" [(ngModel)]="newHearing.decision">
    </div>
    <div class="form-group">

        <label>Case</label>
        <select class="form-control" name="case" [(ngModel)]="newHearing.caseId">
            <option value="" selected>Select Case</option>
            <option *ngFor="let case of cases" [value]="case.id">{{case.number}}</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary my-2">Create</button>
</form>